.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.barreRecherche {
  width: 25%;
  display: flex;
  flex-direction: column;
  border: 1px solid violet;
  border-radius: 20px;
  margin-bottom: 10px;

  .recherche {
    width: 100%;
    aspect-ratio: 8/1;
    border: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    font-size: larger;
  }

  .btnRecherche {
    width: 100%;
    aspect-ratio: 8/1;
    background-color: $color-2;
    border: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: larger;
    color: $color-3;
    cursor: pointer;
  }
}

.barreDeTri {
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  button {
    width: 45%;
    background-color: $color-2;
    border: none;
    color: $color-3;
    cursor: pointer;
    text-align: center;
    font-size: medium;

    .fleche {
      color: $color-3;
      font-size: medium;
      margin-left: 3px;
    }
  }

  .btnTop {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .btnFlop {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
